.Login input,
button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.Login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login form {
    display: block;
    position: relative;
    min-width: 320px;
}

.Login form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
}

.Login form .form-inner {
    position: relative;
    display: block;
    background-color: #FFF;
    padding: 30px;
    z-index: 2;
}

.Login form .form-inner h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.Login form .form-inner .form-group {
    display: block;
    width: 300;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.Login form .form-inner .form-group label {
    display: block;
    color: #666;
    font-size: 15px;
    margin-bottom: 5px;
    transition: 1.4s;
}

.Login form .form-inner .form-group:focus-within label {
    color: #FE4880
}

.Login form .form-inner .form-group input {
    display: block;
    padding: 10px 15px;
    background-color: #F8F8F8;
    border-radius: 8px;
    transition: 1.4s;
}

.Login form .form-inner .form-group input:focus-within {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.Login form .form-inner input[type="submit"],
.welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #FFCE00, #FFCE00 50%, #FE4880);
    background-size: 200%;
    background-position: 0%;
    transition: 1.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.Login form .form-inner input[type="submit"]:hover,
.welcome button:hover {
    background-position: 100% 0%;
}

.Login .welcome {
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    padding: 15px 0px;
}

.Login .welcome h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.Login .welcome h2 span {
    color: #FE4880;
    font-weight: 700;
}