.header {
  height: 400px;
  background-image: url("https://images.nintendolife.com/d358c9f9118af/pokemon-go.900x.jpg");
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: 100%;
}
.card {
  display: flex;
  justify-content: center;
}
.image {
  object-fit: contain;
}

#header{
  
}

